
.regina {
  display:flex;
  height: auto;
  max-height:550px;
  width: auto;
 border-radius: 82px;
 border: 14px solid #f45073;
min-height: 280px;
max-width: 601px;


}

.regina-container{
display: flex;
align-items: center;
justify-content: center;   
padding-top: 148px;

}

body {
  background-color: black;
}
.burnbook {
  max-height: 100vh;
}
#health {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
}
#healthone {
  display: flex;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
}
.top {
padding-top: 124px;
text-align: center;
}
.middle {
padding-top: 58px;
text-align: center;
}
.bottom {
padding-top: 184px;
text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 70px;
  color:#f45073;
}